@model PropertyManager.Models.MaintenanceProjects

<h1>Project Details at @Model.Property?.PropertyName:</h1>

<div>
    <hr />
    <dl class="row">
        <!-- Project Title -->
        <dt class="col-sm-3">Project Title:</dt>
        <dd class="col-sm-9">@Model.ProjectTitle</dd>

        <!-- Property -->
        <dt class="col-sm-3">Property:</dt>
        <dd class="col-sm-9">@Model.Property?.PropertyName</dd>
    
        <!-- Bid Amount -->
        <dt class="col-sm-3">Bid Amount:</dt>
        <dd class="col-sm-9">$@Model.BidAmount</dd>

        <!-- Status -->
        <dt class="col-sm-3">Status:</dt>
        <dd class="col-sm-9">@Model.Status</dd>

        <!-- Assigned Vendor -->
        <dt class="col-sm-3">Assigned Vendor:</dt>
        <dd class="col-sm-9">@Model.AssignedVendor</dd>
    </dl>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.PropertyID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>