@model PropertyManager.Models.RentSchedules

@{
    ViewData["Title"] = "Details";
}

<h1>Rent Schedule Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Tenant</dt>
        <dd class="col-sm-9">@Model.Tenant?.LastName</dd>
        
        <dt class="col-sm-3">Due Date</dt>
        <dd class="col-sm-9">@Model.Date.ToString("MM/dd/yyyy")</dd>
        
        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">@Model.Status</dd>
        
        <dt class="col-sm-3">Base Rent</dt>
        <dd class="col-sm-9">@Model.BaseRent.ToString("C")</dd>
        
        <dt class="col-sm-3">Late Fees</dt>
        <dd class="col-sm-9">@Model.LateFeeOccured.ToString("C")</dd>
        
        <dt class="col-sm-3">Reminders Sent</dt>
        <dd class="col-sm-9">@Model.ReminderCount</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ScheduleID" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>