@model PropertyManager.Models.WorkLogs

@{
    ViewData["Title"] = "Log Details";
}

<h1>Work Log Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Project</dt>
        <dd class="col-sm-9">@Model.Project?.ProjectTitle</dd>

        <dt class="col-sm-3">Time Period</dt>
        <dd class="col-sm-9">@Model.ClockInTime to @Model.ClockOutTime</dd>

        <dt class="col-sm-3">Location</dt>
        <dd class="col-sm-9">@Model.GPSLocation</dd>

        <dt class="col-sm-3">Materials</dt>
        <dd class="col-sm-9">@Model.MaterialsUsed</dd>

        <dt class="col-sm-3">Proof Photo</dt>
        <dd class="col-sm-9">@Model.ProofPhotoURL</dd>

        <dt class="col-sm-3">Signature</dt>
        <dd class="col-sm-9">@Model.VendorSignature</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LogID" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>